body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*----КНОПКИ-------------------------------------*/

.button {
	border-radius: 4px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	padding: 8px 16px;
	margin: 20px auto;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: background-color 0.2s linear;
	background-color: #06bcb3;
	cursor: pointer;
 }
 
 .button:hover {
	background-color: #048280;
 }
 
 .button:active {
	background-color: #304c5a;
 }
 /*----КНОПКИ-------------------------------------*/